#main-play-area {
  background-color: gray;
  width: 75%;
  height: 80%;
}

#user-login {
  /* display:none; */
}

#create-new-user {
  /* display:none; */
}

#key-box-container {
  display:none;
  top: 30%;
  position: relative;
}

#leaderboard {
  height: 100%;
  width: 20%;
  background-color: grey;
  z-index: 1;
  float: right;
  text-align: center;
}

#start-screen {
  text-align: center;
  display: none;
}

#score-tracker {
  position: relative;
}

.key-box {
  background-color: white;
  width: 10.5%;
  height: 10%;
  float: left;
  margin: 1%;
  text-align: center;
}

.lit-up-box {
  background-color: blue;
  width: 10.5%;
  height: 10%;
  top: 40%;
  position: relative;
  float: left;
  margin: 1%;
  text-align: center;
}


.correct-key {
  background-color: green;
  width: 10.5%;
  height: 10%;
  top: 40%;
  position: relative;
  float: left;
  margin: 1%;
  text-align: center;
}

.incorrect-key {
  background-color: red;
  width: 10.5%;
  height: 10%;
  top: 40%;
  position: relative;
  float: left;
  margin: 1%;
  text-align: center;
}
