#main-play-area {
  background-color: gray;
  width: 80%;
  height: 80%;
}

.key-box {
  background-color: white;
  width: 10.5%;
  height: 10%;
  top: 40%;
  position: relative;
  float: left;
  margin: 1%;
  text-align: center;
}
