@import 'https://fonts.googleapis.com/css?family=Ubuntu';

body {
    font-family: Ubuntu;
}

#main-play-area {
  /* background-color: gray; */
  width: 70%;
  height: 85%;
  background-image: url("assets/images/piano-keys.jpeg");
  background-repeat: no-repeat;
  background-size: 450%;
  background-position: 45% 40%;
  color: white;
  text-shadow: 1px 2px black;
  border: 1px solid black;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
}

#user-login {
  color: white;
  text-shadow: 2px 3px black;
  position: relative;
  vertical-align: top;
}

#create-new-user {
  color: white;
  text-shadow: 2px 3px black;
  position: relative;
  vertical-align: top;
}

#log-out-user {
  /* float: left; */
  display: none;
  position: relative;
}

#key-box-container {
  display:none;
  top: 15%;
  position: relative;
  color: black;
  text-shadow: 0px 0px;
}

#leaderboard {
  height: 85%;
  width: 25%;
  /* background-color: #d3d3d3; */
  background-image: url("assets/images/guitar-img.jpg");
  background-repeat: no-repeat;
  background-size: 1000%;
  background-position: 45% 58%;
  z-index: 1;
  float: right;
  text-align: center;
  position: relative;
  border: 1px solid black;
  flex-wrap: wrap;
}

#leaderboard h2 {
  color: white;
  text-shadow: 1px 2px black;
  background-color: rgba(101, 117, 178, 0.55);
  border: 1px solid black;
  /* border: 1px solid black; */
}

#leaderboard-container {
  /* width: 100%; */
  display:block;
  position: relative;
}

#start-screen {
  text-align: center;
  display: none;
}

#score-tracker {
  position: relative;
  color: white;
  text-shadow: 1px 2px black;
}

#select-instrument {
  display: none;
  margin: auto;
  width: 50%;
  color: white;
  text-shadow: 2px 3px black;
}

#container {
  width: 100%;
}

#title-box {
  text-align: center;
  /* background-color: #6575B2; */
  background-color: rgba(101, 117, 178, 0.6);
  border: 1px solid black;
  /* display: inline; */
  position: relative;
  height: 15%;
  width: 100%;
}

#title {
  color: white;
  text-shadow: 2px 3px black;
}

.key-box {
  background-color: white;
  border: 1px solid black;
  width: 10%;
  height: 10%;
  float: left;
  margin: 1%;
  text-align: center;
}

.lit-up-box {
  background-color: #6575B2;
  border: 1px solid black;
  width: 10%;
  height: 10%;
  top: 40%;
  position: relative;
  float: left;
  margin: 1%;
  text-align: center;
}


.correct-key {
  background-color: #44B55F;
  border: 1px solid black;
  width: 10%;
  height: 10%;
  top: 40%;
  position: relative;
  float: left;
  margin: 1%;
  text-align: center;
  font-size: 80%;
}

.incorrect-key {
  background-color: #DC403D;
  border: 1px solid black;
  width: 10%;
  height: 10%;
  top: 40%;
  position: relative;
  float: left;
  margin: 1%;
  text-align: center;
  line-height: 270%;
}

table, th, td {
  /* background-color: #6575B2; */
  background-color: rgba(101, 117, 178, 0.55);
  position: relative;
  /* margin-left: 18%; */
  border: 1px solid black;
  font-size: 135%;
  text-align: center;
  width: 100%;
  /* opacity: 0.7; */
}
